body {
    font-size: 1em;
    font-family: Georgia, serif;

    .wrapper {
        max-width: 520px;
        padding: 0 10px;
        margin: 0 auto;
    }

    p {
        line-height: 1.4em;
    }

    a {
        text-decoration: none;
        color: #003366;

        &:hover {
            border-bottom: dotted 1px #aaa;
        }
    }

    code {
        font-size: 0.9em;
        overflow-x: auto;
    }

    header {
        background: #fff;
        padding: 20px 0;
        text-align: center;
        border-bottom: double 3px #ddd;
        color: #888;
        font-style: italic;

        .name {
            color: #000;
        }
    }

    .pagination {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
        font-style: italic;
    }

    footer {
        margin-top: 15px;
        padding: 15px 0;
        text-align: center;
        border-top: dotted 1px #ddd;
        color: #666;

        .powered-by {
            margin-top: 4px;
            font-size: 0.9em;
            padding-bottom: 2px;
            font-style: italic;
        }

        .license {
            font-family: sans-serif;
            font-size: 0.7em;

            a {
                color: #333;
            }
        }
    }

    .content {
        margin-top: 10px;
    }

    ul.articles {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 50px;

            h2 {
                text-align: center;
                font-weight: normal;
                margin-bottom: 10px;
                margin-top: 10px;

                a {
                    color: #000;
                }
            }

            time {
                display: block;
                text-align: center;
                color: #666;
                font-style: italic;
            }

            a.read-more {
                font-style: italic;
            }

            p {
                margin-top: 8px;
            }
        }
    }

    article {

        h1 {
            text-align: center;
            font-weight: normal;
            margin-bottom: 10px;
            margin-top: 10px;

            a {
                color: #000;
            }
        }

        time {
            display: block;
            text-align: center;
            color: #666;
            font-style: italic;
        }

        padding-bottom: 50px;
        border-bottom: dotted 1px #ccc;
        margin-bottom: 10px;
    }
}
