<h1>File Blog</h1>

<ul>
    <% __::each($articles, function($article) { %>
        <li><h2><a href="<%= $article['url'] %>">
                <%= $article['title'] %>
            </a></h2>
            <p>
                <%= $article['excerpt'] %>&hellip;
            </p>
            <a href="<%= $article['url'] %>">read &rarr;</a>
        </li>
    <% }); %>
</ul>

<hr />

<% if ($pagination['page'] > 1) { %>
    <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] - 1) %>">&larr; previous page</a>
<% } %>
<% if ($pagination['page'] < $pagination['pagecount']) { %>
    <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] + 1) %>">next page &rarr;</a>
<% } %>
