<ul class="articles">
    <% __::each($articles, function($article) { %>
        <li>
            <time datetime="<%= date('Y-m-d H:i:s', $article['timestamp']) %>">
                <%= date('d M Y', $article['timestamp']) %>
            </time>

            <h2><a href="<%= $article['url'] %>">
                <%= $article['title'] %>
            </a></h2>

            <p>
                <%= $article['excerpt'] %>&hellip;
                <a class="read-more" href="<%= $article['url'] %>">continue reading &rarr;</a>
            </p>
        </li>
    <% }); %>
</ul>

<div class="pagination">
    <% if ($pagination['page'] > 1) { %>
        <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] - 1) %>">previous page</a>
        &mdash;
    <% } %>
     <%= $pagination['page'] %>
    <% if ($pagination['page'] < $pagination['pagecount']) { %>
        &mdash;
        <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] + 1) %>">next page</a>
    <% } %>
</div>
