<h1>File Blog</h1>

<ul class="articles">
    <% __::each($articles, function($article) { %>
        <li><h2><a href="<%= $article['url'] %>">
                <%= $article['title'] %>
            </a></h2>

            <time datetime="<%= date('Y-m-d H:i:s', $article['timestamp']) %>">
                <%= date('d M Y', $article['timestamp']) %>
            </time>

            <p>
                <%= $article['excerpt'] %>&hellip;
                <a class="read-more" href="<%= $article['url'] %>">continue reading &rarr;</a>
            </p>
        </li>
    <% }); %>
</ul>

<hr />

<% if ($pagination['page'] > 1) { %>
    <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] - 1) %>">&larr; previous page</a>
<% } %>
<% if ($pagination['page'] < $pagination['pagecount']) { %>
    <a href="<%= $app->config['site_url'].'/page/'.($pagination['page'] + 1) %>">next page &rarr;</a>
<% } %>
