<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7">  <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title><%= $page_title %><%= $app->config['page_title_suffix'] %></title>

        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/styles/default.min.css">
        <link rel="stylesheet/less" type="stylesheet" href="<%= $app->config['site_url'].'/css/styles.less' %>">

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/7.3/highlight.min.js"></script>

        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-27418529-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <span class="name" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name">Ramnique Singh</span>
                </span> /
                <a href="<%= $app->config['site_url'] %>"><%= $app->config['homepage_title'] %></a> /
                <a href="http://twitter.com/ramniquesingh">@ramniquesingh</a>
            </header>

            <div class="content">
                <%= $page_content %>
            </div>

            <footer>
                <div class="powered-by">
                    powered by <a href="https://github.com/ramniquesingh/fileblog">Fileblog</a>.
                <div>
            </footer>
        </div>
    </body>
</html>
